/******************************************************************************
General Styles
*******************************************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 24px sans-serif;
    color: #555;
    
    /* fallback for old browsers */
    background: #232526;
    background: -webkit-linear-gradient(left, #414345, #232526);
    background: -moz-linear-gradient(left, #414345, #232526);
    background: -o-linear-gradient(left, #414345, #232526);
     /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #414345, #232526); 

}

hr {
    margin: 2% 0; 
}

/******************************************************************************
Shared
*******************************************************************************/
.timeline-section, 
.skills-section,
.interests-section,
.work-experience-section,
.education-section, 
.quotes-section,
.other-section {
    text-align: center; 
    /*padding: 5% auto;*/
    width: 50%; 
    margin: 0 auto; 
    margin-bottom: 5%; 
}

.section-background {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 75vh;
    height: 100%;
    background-size: cover;
    box-shadow: inset 0px 0px 10px 2px #232526;
}

.title h2 {
    padding: 5% 0; 
    font-variant: small-caps;
    /*background-color: #232526; */
    /*border-radius: 40%; */
    /*opacity: .8; */
    /*width: 50%; */
    /*text-align: center; */
}

hr {
    width: 100%; 
    margin-bottom: 2%; 
}

@media (max-width: 800px) {
    main {
        font-size: .75em; 
        /*width: 80%; */
        /*padding: 12% 10%;*/
    }
    .timeline-section, 
    .skills-section,
    .interests-section,
    .work-experience-section,
    .education-section, 
    .quotes-section,
    .other-section {
        margin: auto; 
    }

    .title h2 {
        font-size: 1.9em; 
        padding: 8% 0; 
    }
    
    .experience-all {
        display: flex; 
        flex-direction: column; 
    }
}

@media (max-width: 400px) {
    main {
        font-size: .7em; 
    }
    
    .timeline-section, 
    .skills-section,
    .interests-section,
    .work-experience-section,
    .education-section, 
    .quotes-section,
    .other-section {
        margin: auto; 
    }
    
    .title h2 {
        font-size: 1.8em; 
        padding: 10% 0; 
    }
    
    .experience-all {
    }
}


/******************************************************************************
Landing page section
*******************************************************************************/
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; 
    align-items: center; 
    min-height: 100vh;
}

.box {
    padding: 10px;
    box-sizing: border-box;
    flex-grow: 1; 
}

.landing-page .banner-image {
    font-size: 4em; 
}

.introduction, 
.elevator-pitch {
    opacity: 0;
}

.introduction {
    animation: 4s slidefadeIn 1s forwards;
    padding-top: 5%; 
}

.elevator-pitch {
    animation: 10s slidefadeIn 4s forwards;
    flex-grow: 2; 
    margin: auto 20%; 
    padding: 10% 5%;
}

@keyframes slidefadeIn {
    100% { opacity: .9; }
}

/******************************************************************************
Cover Letter section 
*******************************************************************************/
.cover-letter {
    position: absolute; 
    margin-left: 10%; 
    padding: 5%;
    width: 60%; 
    left: 10%; 
    top: 10%; 
    background: white;
    border-radius: 50%; 
    border: 1px solid #232526;
}

.cover-letter-title {
    font-weight: bold; 
}

.cover-letter-body {
    text-align: left; 
    
}

.cover-letter button {
}

/******************************************************************************
Timeline section 
*******************************************************************************/
.events-all {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%; 
}

.event { 
    justify-content: center; 
    margin-top: 0.0em;
    padding-top: 2%; 
}

.connector {
    width: 100%; 
    height: 5%; 
    margin: 0; 
}


/******************************************************************************
Skills & Interests section
*******************************************************************************/
.skill-header,
.interest-header {
    font-size: 1.5em; 
    font-weight: bold;
    margin: 2% auto; 
    font-variant: small-caps;
    text-decoration: underline; 
}

.all-skills,
.all-interests  {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 5%; 
}

.skills ul, 
.interests ul {
    list-style-type: none; 
}

.skill-header img,
.interest-header img {
    height: 5%; 
    width: 5%; 
    margin: 0 2%; 
}


/******************************************************************************
Work Experience & Education section
*******************************************************************************/
.experience-all, 
.education-all {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 5%; 
    background-color: #1B1C1D;
    /*color: rgba(255, 255, 255, 0.9);*/
    opacity: 0.95; 
    border-radius: 0.28571429rem;
}

.experience,
.education {
    display: flex; 
    flex-wrap: wrap;
}

.experience-headers,
.education-headers {
    display: flex; 
    justify-content: space-between;
}

.experience-image, 
.education-image {
    margin: auto;
}

.experience-detail,
.education-detail {
    text-align: left; 
    font-size: 1.5em; 
    margin: 0 2%;
    width: 100%; 
}

.experience-image img,
.education-image img {
    border-radius: 10%; 
    /*background-color: white; */
    height: 18em;
    width: 18em;
    padding: 2% 2%;
}

.experience-detail h2, h3, h4, h5, h6 
.education-detail h2, h3, h4, h5, h6 {
    margin: 0 0;
}

/******************************************************************************
Education section
*******************************************************************************/
#grad-image {
    height: 5em;
    width: 5em;
}
#grad-image-container{
    text-align: center; 
}

/******************************************************************************
Quotes section
*******************************************************************************/
.quotes-all {
    font-size: 1.5em; 
}
.quotes-detail {
    
}

/******************************************************************************
Other section
*******************************************************************************/
.other-all {
    display: flex; 
    flex-direction: column; 
}

.other {
    display: flex; 
    margin: 2% 2%; 
}

.other-detail {
    width: 70%; 
    text-align: left; 
    margin: 2% 2%;
}

.other-detail ul, li {
    list-style-type: none;
    margin: 2% 2%;
}

/******************************************************************************
Footer Section
*******************************************************************************/
.footer {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
    text-align: center;
    
    margin: 2% auto; 
    height: 20vh; 
}

#builtby {
    font-size: 1.5em; 
}